[submodule "frontend"]
	path = frontend
	url = https://github.com/niharikapamugari/talk-in-sign-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/niharikapamugari/talk-in-sign-backend.git
